/* Voeg deze CSS-regels toe voor de profielpagina */

.profile-container {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-info {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 2px;
    margin-bottom: 20px;
  }
  
  .profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-info h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .profile-info p {
    font-size: 16px;
    color: #555;
  }
  
  .profile-tweets {
    width: 100%;
  }
  
  /* Stijl voor individuele tweets op de profielpagina */
  .profile-tweets .twit {
    margin: 0;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  .profile-tweets .twit .twit-icon {
    font-size: 24px;
  }
  
  .profile-tweets .twit .twit-content {
    margin-left: 10px;
  }
  
  .profile-tweets .twit .twit-content .twit-text {
    margin: 0;
    font-size: 18px;
  }
  
  .profile-tweets .twit .twit-content .twit-author {
    margin-top: 8px;
    text-align: right;
    font-weight: bold;
  }
  
  /* Voeg hier eventuele aanvullende CSS-regels toe voor de profielpagina */
  